@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    <td id="ts_@sl">@sl</td>
    <td>

        @*<select class="form-control select2" id="itemCode_@sl" style="width: 80px"></select>*@
        <input type="text" class="form-control" id="itemCode_@sl" style="width: 100px" disabled="disabled"/>
    </td>
    <td>
        <input type="text" class="form-control" id="itemName_@sl" style="width: 350px" disabled="disabled"/>
    </td>
    <td>
        <input type="text" class="form-control" id="uom_@sl" style="width: 80px" disabled="disabled"/>
    </td>

    @*<td>
            <select class="form-control select2" id="fromWH_@sl" style="width: 150px"></select>
        </td>
        <td>

            <select class="form-control select2" id="toWH_@sl" style="width: 150px"></select>
        </td>*@
    <td>

        <input type="number" class="form-control" id="quantity_@sl"  style="width: 80px" disabled="disabled"/>
    </td>
    @*<td>
            <input type="number" class="form-control" id="batchSerialNo_@sl" />
        </td>*@
    @*<td>

        <input type="number" class="form-control" id="price_@sl" oninput="CalculateLineTotal(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="value_@sl"  />
    </td>*@
    <td>
        <input type="number" class="form-control" id="stock_@sl" style="width: 80px" disabled="disabled" />
    </td>
    <td>
        <input type="text" class="form-control" id="remarks_@sl" style="width: 300px" disabled="disabled"/>
    </td>
    @*<td class="actionHide">
        <div class="form-group">
            <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b>+</b></button>
            <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b></b>x</button>
        </div>
    </td>*@
</tr>
