
/.vs/Bioxin/config
/.vs/Bioxin/FileContentIndex
/.vs/Bioxin/v17
/.vs
/Bioxin.Portal/bin/app.publish
/Bioxin.Api/bin/app.publish/App_Data
/Bioxin.Api/bin/roslyn
/Bioxin.Api/App_Data/Logs
/Bioxin.Api/bin
/Bioxin.Api/App_Data
/Bioxin.Api/obj
/Bioxin.Portal/bin
/Bioxin.Portal/obj
/Bioxin.Portal/App_Data
/Bioxin.Reports/bin
/Bioxin.Reports/obj
/Bioxin.Reports/App_Data