<style>
    .custom-header {
        background-color: darkgray !important; /* Blue color #007bff  #808080*/
        color: black; /* Text color for contrast */
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header custom-header">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 id="memberNo"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row" id="divType">
                                    <label for="txtType" class="col-md-4 control-label">Type</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtType" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divName">
                                    <label for="txtName" class="col-md-4 control-label">Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtName" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divDOB">
                                    <label for="txtDOB" class="col-md-4 control-label">DOB</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtDOB" class="form-control datepicker" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divAge">
                                    <label for="txtAge" class="col-md-4 control-label">Age</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtAge" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divGender">
                                    <label for="ddlGender" class="col-md-4 control-label">Gender</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlGender" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divMobile">
                                    <label for="txtMobile" class="col-md-4 control-label">Mobile</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtMobile" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divEmail">
                                    <label for="txtEMail" class="col-md-4 control-label">E-mail</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtEMail" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row mt-1" id="divGroup">
                                    <label for="ddlGroup" class="col-md-4 control-label">Group</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlGroup" onchange="GetGroupDetails()" disabled="disabled"></select>
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divOccupation">
                                    <label for="ddlOccupation" class="col-md-4 control-label">Occupation</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="ddlOccupation" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlOccupation" disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divMobileEmergency">
                                    <label for="txtMobileEmergency" class="col-md-4 control-label">Mobile (Emergency)</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtMobileEmergency" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divContactPerson">
                                    <label for="txtContactPerson" class="col-md-4 control-label">Contact Person</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtContactPerson" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divRelationship">
                                    <label for="ddlRelationship" class="col-md-4 control-label">Relationship</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="ddlRelationship" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlRelationship" disabled="disabled"></select>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row mt-1" id="divWebsite">
                                    <label for="txtWebsite" class="col-md-4 control-label">Website</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtWebsite" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divPaymentTerms">
                                    <label for="txtPaymentTerms" class="col-md-4 control-label">Payment Terms</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtPaymentTerms" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divCreditLimited">
                                    <label for="txtCreditLimited" class="col-md-4 control-label">Credit Limited</label>
                                    <div class="col-md-6">
                                        <input type="number" id="txtCreditLimited" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divConnected">
                                    <label for="txtConnected" class="col-md-4 control-label">Connected</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtConnected" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align:center">
                                <b><u>Present / Bill Address</u></b>
                            </div>
                            <div class="col-md-4" style="text-align:center">
                                <b><u>Ship Address</u></b>
                            </div>
                            <div class="col-md-4" style="text-align:center">
                                <b><u>Bank Details</u></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row mt-2" id="divBillCountry">
                                    <label for="ddlBillCountry" class="col-md-4 control-label">Country</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlBillCountry" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlBillCountry" onchange="GetBillState()" disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBillState">
                                    <label for="ddlBillState" class="col-md-4 control-label">District</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlBillState" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlBillState" disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBillCity">
                                    <label for="txtBillCity" class="col-md-4 control-label">Thana</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtBillCity" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBillStreet">
                                    <label for="txtBillStreet" class="col-md-4 control-label">Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtBillStreet" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBillZip">
                                    <label for="txtBillZip" class="col-md-4 control-label">Zip</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtBillZip" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row mt-2" id="divShipCountry">
                                    <label for="ddlShipCountry" class="col-md-4 control-label">Country</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlShipCountry" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlShipCountry" onchange="GetShipState()" disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divShipState">
                                    <label for="ddlShipState" class="col-md-4 control-label">District</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlShipState" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlShipState" disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divShipCity">
                                    <label for="txtShipCity" class="col-md-4 control-label">Thana</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtShipCity" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divShipStreet">
                                    <label for="txtShipStreet" class="col-md-4 control-label">Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtShipStreet" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divShipZip">
                                    <label for="txtShipZip" class="col-md-4 control-label">Zip</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtShipZip" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row mt-2" id="divAccountNo">
                                    <label for="txtAccountNo" class="col-md-4 control-label">A/C No</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtAccountNo" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divSwiftCode">
                                    <label for="txtSwiftCode" class="col-md-4 control-label">Swift Code</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtSwiftCode" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBankName">
                                    <label for="txtBankName" class="col-md-4 control-label">Bank</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlBankName" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlBankName"  disabled="disabled"></select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divAccountHolderName">
                                    <label for="txtAccountHolderName" class="col-md-4 control-label">Account Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtAccountHolderName" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divBankCountry">
                                    <label for="ddlBankCountry" class="col-md-4 control-label">Country</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlBankCountry" class="form-control" disabled="disabled" />
                                        <!--<select class="form-control select2" style="width: 100%;" id="ddlBankCountry" onchange="GetShipState()" disabled="disabled"></select>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row mt-2" id="divBranch">
                                    <label for="ddlBranch" class="col-md-4 control-label">Branch</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%; text-align: center" id="ddlBranch" disabled="disabled"></select>
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divSalesEmployee">
                                    <label for="lblRestAmount" class="col-md-4 control-label">Sales Employee</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlSalesEmployee" disabled="disabled"></select>
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divSalesEmployee">
                                    <label for="lblRestAmount" class="col-md-4 control-label">Create By</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtCreateBy" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divRrmarks">
                                    <label for="taxVat" class="col-md-4 control-label">Remarks</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" id="txtRrmarks" name="w3review" rows="3" cols="30" disabled="disabled"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group row mt-2" id="divHearAboutUs">
                                    <label for="ddlHearAboutUs" class="col-md-4 control-label">How do you hear about us?</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlHearAboutUs" class="form-control" disabled="disabled" />
                                        <!--<select id="ddlHearAboutUs" class="form-control select2" multiple="multiple" style="width: 100%;" disabled="disabled">
                                                <option value="Web-search">Web-search</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="YouTube">YouTube</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="Tiktok">Tiktok</option>
                                                <option value="Magazine">Magazine</option>
                                                <option value="Friend">Friend</option>
                                                <option value="Others">Others</option>
                                            </select>-->
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divReasonBranchVisit">
                                    <label for="ddlReasonBranchVisit" class="col-md-4 control-label">Reason for Branch Visit?</label>
                                    <div class="col-md-6">
                                        <input type="text" id="ddlReasonBranchVisit" class="form-control" disabled="disabled" />
                                        <!--<select id="ddlReasonBranchVisit" class="form-control select2" multiple="multiple" style="width: 100%;" disabled="disabled">
                                                <option value="DoctorVisit">Doctor Visit</option>
                                                <option value="SkinAnalysis">Skin Analysis</option>
                                                <option value="NutritionistVisit">Nutritionist Visit</option>
                                                <option value="BCATest">BCA Test</option>
                                                <option value="BioHydraFacial">Bio-Hydra Facial</option>
                                                <option value="BioLaser">Bio Laser</option>
                                                <option value="EPN">EPN</option>
                                                <option value="PlasmaTherapy">Plasma Therapy</option>
                                                <option value="DrLight">Dr. Light</option>
                                                <option value="GlowingFacial">Glowing Facial</option>
                                                <option value="MoleRemoval">Mole Removal</option>
                                                <option value="ComfortDual">Comfort Dual</option>
                                                <option value="3Max">3 Max</option>
                                                <option value="Slimming">Slimming</option>
                                                <option value="NDYagLaser">ND Yag Laser</option>
                                            </select>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input id="memberId" type="number" style="display: none;" value="@ViewBag.MemberId">
        <input id="codeId" type="number" style="display: none;">
        <input id="branch" type="number" style="display: none;" value="@ViewBag.Branch">
        <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">
    </div>
</section>