
@{
    ViewBag.Title = "EcommerceSalesDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-header {
        background-color: darkgray !important; /* Blue color #007bff  #808080*/
        color: black; /* Text color for contrast */
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header custom-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <h3 class="card-title">
                                        <span class="">Ecommerce Sales Details</span>
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row" id="divFromDate">
                                    <label for="txtFromDate" class="col-md-4 control-label">From Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row" id="divReportType">
                                    <label for="ddlGroupCode" class="col-md-4 control-label">Report Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlReportType">
                                            <option value="2" selected>PDF</option>
                                            <option value="1">Crystal Report</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row" id="divToDate">
                                    <label for="txtToDate" class="col-md-4 control-label">To Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<div class="form-group row mt-2" id="divBranch">
                                    <label for="ddlBranch" class="col-md-4 control-label">Branch</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%; text-align: center" id="ddlBranch" disabled="disabled"></select>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="button" value="Print" class="btn btn-primary" onclick="PrintEcommerceSalesDetails()" />
                                <input type="button" value="Cancel" class="btn btn-primary" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input id="branch" type="number" style="display: none;" value="@ViewBag.Branch">
    </div>
</section>
@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');
        });

        function pad2(number) {
            return (number < 10 ? '0' : '') + number;
        }
        function DateConversionToYYYYMMDD(inputDate) {
            // Split the input date into day, month, and year parts
            var parts = inputDate.split('-');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthIndex = monthNames.indexOf(month);
            monthIndex++; // Adjust for 0-based indexing
            // Create a Date object with the parsed values
            var dateObject = new Date(year, monthIndex - 1, day);
            // Format the date as "YYYYMMDD"
            var formattedDate = dateObject.getFullYear() + pad2(dateObject.getMonth() + 1) + pad2(dateObject.getDate());
            return formattedDate
        }
        function DateConversionToDateMonthYear(inputDate) {
            var parts = inputDate.split('/');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthName = monthNames[parseInt(month) - 1];
            var formattedDate = day + '-' + monthName + '-' + year;
            return formattedDate
        }
        function PrintValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtFromDate').val() == '' || $('#txtFromDate').val() == null) {
                ValidationColorChangeNew("txtFromDate", "divFromDate", "From Date Required", false);
                isValid = false;
            }
            if ($('#txtToDate').val() == '' || $('#txtToDate').val() == null) {
                ValidationColorChangeNew("txtToDate", "divToDate", "To Date Required", false);
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }
        function PrintEcommerceSalesDetails() {
            if (PrintValidation() == true) {
                var FromDate = $('#txtFromDate').val();
                FromDate = DateConversionToYYYYMMDD(FromDate);
                var ToDate = $('#txtToDate').val();
                ToDate = DateConversionToYYYYMMDD(ToDate);
                var ReportType = $('#ddlReportType').val();
                GetprintPage(FromDate, ToDate, ReportType);
            }
        }
        function GetprintPage(FromDate, ToDate, ReportType) {
            var urlpath = '@Url.Action("GetprintPage", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {  },
                async: false,
                success: function (data) {
                    var dynamicURL = data.RPTPort + 'web/webform1.aspx?id1=21&id2=FROMDATE|BIOXIN|TODATE&id3=TYPE&uid=USERID'.replace('FROMDATE', FromDate).replace('TODATE', ToDate).replace('TYPE', ReportType).replace('BIOXIN', data.Database).replace('USERID', data.UserId);
                    window.open(dynamicURL, '_blank');
                }
            });
        }
    </script>
}

